{% extends "base.html" %}

{% block main %}

<a href="/"><span class="uk-margin-small-right" uk-icon="arrow-left"></span>Back</a>

<h1 class="uk-heading-small uk-margin-remove uk-text-center">COVID-19 Statistics</h1>
<p class="uk-text-meta uk-text-center">Scrapped from covidstatistics.org</p>
<hr class="uk-divider-icon">
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
            {% for h in data.heading %}
            <td>{{ h }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for table in data.body %}
        <tr>
            {% for table_column in table %}
            <td>{{table_column}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main %}